@import "tailwindcss";

@theme {
  --font-heading: Oswald, sans-serif;
  --font-sans: Roboto, sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media print {
  /* Hide EVERY element on the page by default */
  body * {
    visibility: hidden;
  }

  /* Show ONLY the printable-area div and its children */
  #printable-area, #printable-area * {
    visibility: visible;
  }

  /* Make the printable-area take up the entire page */
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif; /* Use a serif font for printing */
  }

  /* Ensure table borders are visible for printing */
  #printable-area table, #printable-area th, #printable-area td {
    border: 1px solid #000;
    border-collapse: collapse;
  }
  
  #printable-area th, #printable-area td {
    padding: 4px 8px;
  }
}