@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}